.menuWrapper {
  position: fixed;
  z-index: 9999;
  background-color: #161a25;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid #758696;
  color: #d5dadf;
  font-size: 14px;
  max-width: 300px;
  min-width: 150px;
  font-family: Helvetica, sans-serif;
  line-height: 1.15;
  outline: none;
}
@supports (backdrop-filter: blur(6px)) {
  .menuWrapper {
    backdrop-filter: blur(6px);
    background: #161a25;
  }
}
.menuHeader {
  padding: 5px;
  border-bottom: 1px solid #758696;
  display: flex;
  flex-direction: column;
}
.menuHeader:after {
  border-bottom: 2px solid #758696;
  content: "";
  display: block;
  margin-top: 5px;
  margin-left: 30%;
  width: 40%;
}
.menuLabel {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}
.menuDescription {
  margin: 0px;
}
.optionsWrapper {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.menuFilter {
  border: none;
  background: none;
  height: 24px;
  flex: 1 1 auto;
  width: 100%;
  outline: none;
  color: #d5dadf;
  border: 1px solid #758696;
  &::placeholder {
    font-style: italic;
  }
}
.option {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 5px;
  border-bottom: 1px solid #758696;
  color: #d5dadf;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background: #262d41;
    color: #d5dadf;
    p {
      color: #d5dadf;
    }
  }
  label {
    margin-bottom: 5px;
    user-select: none;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  p {
    margin: 0px;
    font-style: italic;
    font-size: 12px;
    color: #d5dadf;
    user-select: none;
  }
  &[data-selected="true"] {
    background: #161a25;
  }
}
.emptyText {
  color: #d5dadf;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; 
}
 
::-webkit-scrollbar-thumb {
  background-color: #464646;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #515151; 
}