.wrapper{
  font-size: 14px;
  padding: 3px 6px;
  background: #161a25;
  width: 100%;
  border: 1px solid #758696;
  padding-right: 15px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background: none;
    right: 5px;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #d5dadf transparent transparent transparent;
  }
  &:hover{
    background: #262d41;
  }
}
.chipWrapper{
  font-size: 14px;
  padding: 3px 6px;
  background-color: #161a25;
  border: 1px solid #758696;
  margin: 2px;
  position: relative;
}
.chipWrapper:hover .deleteButton{
  opacity: 1;
}
.chipsWrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.deleteButton{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 22px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161a25;
  border: none;
  font-weight: bold;
  opacity: 0;
}
.deleteButton:focus{
  opacity: 1;
}
.deleteButton:hover{
  background: aliceblue;
}
.selectedWrapper{
  display: flex;
  flex-direction: column;
  background-color: #161a25;
  width: 100%;
  border: 1px solid #758696;
  font-size: 14px;
  padding: 3px 6px;
  padding-right: 15px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    background: none;
    right: 5px;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #758696 transparent transparent transparent;
  }
  label{
    margin: 0px;
  }
  p{
    margin: 0px;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: #d5dadf;
  }
}
