.wrapper{
  background: none;
  border: none;
}
.input{
  background: white;
  width: 100%;
  border: 1px solid darkblue;
  font-size: 13px;
  padding: 5px;
  resize: vertical;
  outline: none;
  &::placeholder{
    color: rgb(47, 49, 50);
  }
}
