.wrapper{
  background: none;
  border: none;
}
.input{
  background: white;
  width: 100%;
  border-width: 1px;
  border-color: black;
  font-size: 13px;
  padding: 5px;
  resize: none;
  outline: none;
  &::placeholder{
    color: rgb(47, 49, 50);
  }
}
