.wrapper{
  background: none;
  border: none;
}
.input{
  border: #758696 1px solid;
  background: #161a25;
  color: #d5dadf;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  resize: none;
  outline: none;
  &::placeholder{
    color: rgb(47, 49, 50);
  }
}
