.wrapper {
  background: #161a25;
  border: 1px solid #d0ccd0;
  color: #d0ccd0;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  user-select: none;
  display: flex;
  flex-direction: column;
  z-index: 1;
  cursor: default;
  outline-offset: 10px;
  font-size: 16px;
  font-family: "Roboto";
}

.label {
  font-size: 13px;
  padding: 5px;
  background: #161a25;
  margin: 0px;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.titleContainer {
  background: #015690;
  color: white;
  width: 100%;
  min-height: 25px;
  border-radius: 4px 4px 0px 0px;
}

.titleBar {
  display: flex;
  padding: 0.25rem;
}

.title {
  margin: 0rem;
  padding: 0.1rem;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.titleInput {
  outline: none;
  border: 0;
  padding: 0rem 0.25rem;
  min-width: 0;
  font-size: 14px;
  background: #161a25;
  border: 1px solid #d0ccd0;
  color: white;
}

.titleBarInfoIcon {
  padding: 0 0.25rem;
}

.titleBarInfoIcon:hover .nodeTooltip {
  display: block;
}

.titleBarTickIcon {
  padding: 0 0.25rem;
}

.titleBarTickIcon:hover {
  background-color: green;
}

.titleBarCloseIcon {
  padding: 0 0.25rem;
}

.titleBarCloseIcon:hover {
  background-color: #e81123;
}

.nodeTooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 4px;
  color: black;
  background-color: white;
  border: black 1px solid;
  font-size: 14px;
  z-index: 1;
}

.nodeTooltipTitle {
  margin: 0;
  font-weight: bold;
}
