.wrapper{
  display: flex;
  align-items: center;
}
.checkbox {
  background: #161a25;
  border: 1px solid #758696;
  border-radius: 4px;
  margin-right: 8px;
}
.label{
  padding-top: 2px;
  font-size: 13px;
}
